{% extends 'base.html' %}

{% block content %}
<h1>Sign up</h1>

<b style='font-weight: bold; color: red;'>{{ error }}</b>

<br>
<br>

<form action="/signup/" method='post'>
  {% csrf_token %}
  <!-- {{ form.as_div }} -->

  <label for="username">Username:</label>
  <input type="text" name='username' id='username'>
  <br>
  <br>
  <label for="password1">Password:</label>
  <input type="password" name='password1' id='password1'>
  <br>
  <br>
  <label for="password2">Confirm your password:</label>
  <input type="password" name='password2' id='password2'>
  <br>
  <button type="submit">Sign up</button>
</form>
{% endblock %}